[submodule "themes/themes/roxo-hugo"]
	path = themes/themes/roxo-hugo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "themes/roxo-hugo."]
	path = themes/roxo-hugo.
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "roxo-hugo"]
	path = roxo-hugo
	url = https://github.com/StaticMania/roxo-hugo.git
