//site color variables
$body-color: #ffffff;
$body-color-light: #c05b5b;
$primary-color: #006b07;
$secondary-color: #006b07;
$text-color: #284a03;
$text-color-dark: #000000;
$text-color-light: #ffffff;
$text-color-light-small: #cfffb4;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;